Part-2/Problem-2.6/backend/
Part-2/Problem-2.6/frontend/
Part-2/Problem-2.7/backend/
Part-2/Problem-2.7/frontend/
Part-2/Problem-2.7/training/
Part-2/Problem-2.8/backend/
Part-2/Problem-2.8/frontend/
